.user-details-container {
    padding: 20px;
    border-radius: 10px;
    color: #333;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative; 
  }
  
  .user-details-container h2 {
    margin-bottom: 20px;
    color: #007bff;
  }
  
  .user-details-container ul {
    list-style: none;
    padding: 0;
  }
  
  .user-details-container li {
    margin-bottom: 15px;
  }
  
  .user-details-container button {
    background-color: #007bff;
    border: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    position: fixed; 
    bottom: 20px; 
    right: 20px; 
  }
  
  .user-details-container button:hover {
    background-color: #b31b00;
    transition: background-color 0.7s;
  }
  .back-container{
    background-color: #007bff;
    border: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    position: fixed; 
    bottom: 20px; 
    right: 100px; 
  }